<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819731042387-9cek47c7nd7qjv7bhngvqogek05o6c1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819731042387-9cek47c7nd7qjv7bhngvqogek05o6c1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCIiVzcJZyoDfdP88ysjhuvLED5Lar8Xto</string>
	<key>GCM_SENDER_ID</key>
	<string>819731042387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project3</string>
	<key>PROJECT_ID</key>
	<string>project3-f6c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>project3-f6c1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819731042387:ios:a1e3c23f51ce3e189c36a6</string>
</dict>
</plist>